<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/main.css"></link>
        {# <link href="https://cdn.jsdelivr.net/gh/PrismJS/prism-themes@1.9.0/themes/prism-one-dark.css" rel="stylesheet"> #}
    </head>
    <body>
        <div class="container">
            {{ content | safe }}
        </div>
    </body>
</html>